header{
    
    height: 100vh;
}

hr {
 border-color: #ffffff;
}

a {color:#fff;}
a:hover {color:#fff;}

.foot{
	position: fixed;
	bottom:0px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	height: 56px;
}

.foot p{
	font-size: 12px;
	color:#fff;
	line-height: 40px;
	margin: 0px;
}
.s_text {
    margin-top: 20px;
}
.s_text p {
    margin: 0px!important;
    line-height: 34px;
    text-align: center;
    max-width: 100%!important;
    font-size: 24px!important;
    color:#343434 !important;
}

header .header-content {
	padding-top:0px;
	margin-top: 0px;
	padding: 0px 15px; 
}


.left-dw-content {
    background: #fff;
    padding: 30px;
    border-radius: 2px;
    margin-top: 150px;
}
.left-dw-content img.dw_logo {
    height: 170px !important;
}

.left-dw-content img{
	max-width: 300px;
}

.left-dw-content h3{
	color: #2e3192 !important;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.left-dw-content p{
	color: #525252 !important;
	font-size: 13px;
	text-align: center;
}

.left-dw-content p.top20{
	margin-top: 20px;
}

.btn-primary {
    border-color: #4887F3;
    background-color: #4887F3;
}

@media only screen and (max-width: 720px) {
    .left-dw-content {
	    margin-top: 50px;
	    padding: 30px 30px;
	    margin-bottom: 50px;
    }
    
    header .header-content {
	    margin-top: 0px;
	    padding: 0px 15px; 
    }
    
    #mainNav{
	    display: none;
    }
}

.top{
	text-align: left;
	margin-top: 20px;
}

.top img{
	height: 60px;
}

.mainhead{
	text-align: right;
	margin-top:-20px;
}

.mainhead img{
	height: 160px;
}
.partner {text-align: right;margin: 3px 0px;}
.partner img{
	height: 50px;
}


.credit p {line-height: 56px;height: 56px;}

@media only screen and (max-width: 720px) {

	.mainhead img{
		height: 80px;
	}	
	
	.top{
		margin-top: 10px;
	}
	
	.top img{
		height: 25px;
	}
	
	.partner img{
		height: 25px;
	}

	.foot{
		height: 55px;
	}
	
	.credit p {line-height: 22px;height: 22px; text-align: center;}
}

@media (min-width: 1200px){
	.container {
	    width: 1270px;
	}
}

